<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>BankingSystem</display-name>
  <welcome-file-list>
    <welcome-file>Frontpage.html</welcome-file>
    <welcome-file>AddUser.html</welcome-file>
    <welcome-file>EditForm.html</welcome-file>
    <welcome-file>GetData.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Formdataa</display-name>
    <servlet-name>Formdataa</servlet-name>
    <servlet-class>Amount.Formdataa</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formdataa</servlet-name>
    <url-pattern>/Formdataa</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDataById</display-name>
    <servlet-name>GetDataById</servlet-name>
    <servlet-class>Amount.GetDataById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataById</servlet-name>
    <url-pattern>/GetDataById</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TableData</display-name>
    <servlet-name>TableData</servlet-name>
    <servlet-class>Amount.TableData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TableData</servlet-name>
    <url-pattern>/TableData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Nomini</display-name>
    <servlet-name>Nomini</servlet-name>
    <servlet-class>Amount.Nomini</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Nomini</servlet-name>
    <url-pattern>/Nomini</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NominiTable</display-name>
    <servlet-name>NominiTable</servlet-name>
    <servlet-class>Amount.NominiTable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NominiTable</servlet-name>
    <url-pattern>/NominiTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Upadatee</display-name>
    <servlet-name>Upadatee</servlet-name>
    <servlet-class>Amount.Upadatee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Upadatee</servlet-name>
    <url-pattern>/Upadatee</url-pattern>
  </servlet-mapping>
</web-app>